* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* main header section */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

select {
    background: transparent;
    color: white;
}

.logo {
    height: 50px;
    width: 128.73px;
    margin: 1px;
    padding: 1px 8px 10px 6px;
}

.logo img {
    width: 88%;
    margin: 17px 14px;
}

.location {
    height: 50px;
    width: 220px;
    padding: auto;
}

.main {
    background: #131921;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0px;
}

.nav-sel {
    height: 50px;
    width: 73.38px;
    display: flex;
    align-items: center;
}

.nav-sel img {
    width: 20px;
    height: 15px;
    display: block;
    padding-left: 5px;
}

.account {
    height: 50px;
    width: 131.53px;
}

.return {
    width: 76.95px;
    height: 50px;
}

.cart {
    width: 84px;
    height: 50px;
    display: flex;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 2px;
}

.search_bar {
    height: 60px;
    width: 770px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suh img {
    width: 400px;
    height: 39px;
    margin-top: 6px;
}

.inner {
    display: flex;
    height: 40px;
    width: 750px;
    border-radius: 4px;
    cursor: pointer;
}

.inner:hover {
    border-radius: 6px;
    background-color: orange;
    border: 3.5px solid orange;
}

.search_select {
    width: 60px;
    height: 100%;
    background: #f3f3f3;
    color: black;
    padding-left: 5px;
    border-radius: 4px 0px 0px 4px;
    border: none;
}

.search_input {
    width: 100%;
    height: 100%;
    border: none;
}

.search_input:focus {
    outline: none;
}

.search_icon {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: #febd68;
    font-size: 1.5em;
}

.search_input::placeholder {
    font-size: 14px;
    color: #0f1111;
    padding: 7px 10px 10px;
}

/* sub heading section */
.submain {
    width: 100%;
    margin-top: 60px;
    height: 40px;
    background: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    margin: 0px;
    font-size: 14px;
    border: 1.5px solid transparent;
    padding: 1px 9px;
    line-height: 37px;
}

li:hover {
    border: 1.5px solid white;
    border-radius: 2px;
}

.submain ul {
    display: flex;
    align-items: center;
}

.a {
    display: flex;
    align-items: center;
}

.b {
    display: flex;
    align-items: center;
    width: 58px;
    height: 38px;
    justify-content: center;
    margin-left: 5px;
}

.hash {
    margin-left: 20px;
    height: 15px;
    width: 20px;
    margin-right: 5px;
}

body {
    background: #E3E6E6;
}

/* body section */
.Banner {
    width: 99%;
    margin: auto;
    display: block;
}

.banner_details {
    width: 99%;
    position: absolute;
    top: 289px;
    left: 8px;
    height: 1250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top {
    height: 420px;
    background: linear-gradient(#f21361, #E3E6E6);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bottom {
    height: 420px;
    display: flex;
    justify-content: space-evenly;
}

.heading {
    width: 310px;
    height: 27px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 21px;
    color: #0F1111;
    font-weight: bold;
}

.last {
    height: 350px;
    width: 1464px;
    background: white;
    margin: auto;
}

.pros {
    height: 420px;
    width: 350px;
    background: #ffffff;
    cursor: pointer;
}

.cont {
    width: 310px;
    height: 303.7px;

    margin: auto;
    display: grid;
    grid-template-columns: 147.5px 147.5px;
    grid-template-rows: 137.5px 137.5px;
    column-gap: 15px;
    row-gap: 20px;
}

.pros_p {
    color: #007185;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.pros_p:hover {
    color: red;
}

.cont img {
    width: 100%;
    height: 112px;
}

.cont p {
    font-size: 12px;
    color: #0F1111;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.last h3 {
    font-size: 21px;
    color: #0F1111;
    font-family: Arial, sans-serif;
    padding: 27px 23px 15px;
}

.last h3 a {
    text-decoration: none;
    color: #007185;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 200;
}

.last_cont {
    width: 1420px;
    height: 268.3px;
    margin: auto;
    display: flex;
}

.last_pro {
    width: 240px;
    background: rgba(15, 17, 17, .03);
    ;
    height: 100%;
    margin-right: 20px;
}

.last_pro img {
    display: block;
    margin: auto;
}

.last_pro div {
    display: flex;
    height: 24px;
    margin-top: 5px;
}

.last_pro div div {
    font-size: 12px;
    color: #ffffff;
    background-color: #CC0C39;
    height: 24px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.last_pro div h4 {
    color: #CC0C39;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}

.last_pro p {
    font-size: 13px;
    color: #0F1111;
    margin-top: 10px;
}

/* signup section*/
.sig {
    width: 100%;
    height: 180px;
    background: #ffffff;
    margin-top: 900px;
    position: relative;
}

.sign_cont {
    width: 99.9%;
    height: 125px;
    background: #ffffff;
    border: 1px solid silver;
    position: absolute;
    bottom: 15px;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
}

.sign_button {
    width: 230px;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sign_p {
    font-size: 13px;
    color: #000000;
    text-align: center;
    line-height: 25px;
}

.sign_button button {
    width: 100%;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    background: rgb(248, 187, 4);
    border: 1px solid orange;
}

.sign_p1 {
    font-size: 11px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.sign_p1 a {
    text-decoration: none;
    color: blue;
}

/* footer section */
footer {
    width: 100%;
    height: 765px;
    background:#131A22 ;
}

.footer1 {
    height: 450px;
    background: #232F3E;
    padding-top: 45px;
}

.footer2 {
    height: 215px;
    background: #131A22;
    padding-top: 30px;
    padding-bottom: 0px;
}

.footer_a {
    height: 235px;
    width: 973px;
    margin: auto;
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer_b {
    height: 68px;
    width: 1000px;
    margin-top: 10px;
    padding: 0px 259px;
    border: 1px solid #4a4949;
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
}

.footer_c {
    height: 36px;
    width: 982px;
    margin: auto;
    margin-top: 30px;
}

.footer_2a {
    height: 96px;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 19% 25% 24% 20%;
    grid-template-rows: 40px 40px;
    row-gap: 15px;
}

.footer_2b {
    height: 80px;
    margin-top: 30px;
    padding-top: 10px;
    
}

.footer_a div h1 {
    font-size: 16px;
    color: white;
    margin: 7px 0px 10px 10px;
}

.footer_a div li {
    color: #DDD;
    font-size: 14px;
    cursor: pointer;
    line-height: 21px;
}

.footer_a div li:hover {
    border: 1px solid transparent;
    text-decoration: underline;
}

.ajay {
    width: 100px;
    height: 40px;
    background: url("./images/am_footer.png");
    background-position: center;
    background-size: cover;
    border: none;
}

.fb_d {
    width: 116px;
    height: 34px;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 4px;
}

.fb_d h1 {
    color: #CCCCCC;
    font-size: 13px;
    margin-left: 10px;
    font-weight: lighter;
}

.fb_d select {
    background: transparent;
    border: none;
    margin-left: 20px;
}

.fb_d select:focus {
    border: none;
    outline: none;
}

.footer_c ul {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.footer_c li {
    font-size: 12px;
    color: #CCCCCC;
    line-height: 17px;
    border: none;
    font: weight 5px;
    ;
}

.footer_c li:hover {
    /* border: 1px solid transparent; */

    text-decoration: underline;
}

.footer_2a h4 {
    color: #CCCCCC;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.footer_2a p {
    color: #999999;
    font-size: 12px;
    cursor: pointer;
}

.footer_2a p:hover {
    text-decoration: underline;
}

.footer_2a h4:hover {
    text-decoration: underline;
}
.footer_2b h6{
font-size: 12px;
color: #DDDDDD;
font-weight: 400;
text-align: center;
line-height: 18px;
margin-top: 5px;
}
.footer_2b span{
margin: 0px 15px;
}